<manifest package="com.skyzoom.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Sky Zoom">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAP-xlQtrRhBlkBm19XjzD2Vu30Y2I5wFg"/>

    </application>

</manifest>
